<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body  >
	<form onsubmit="return validate(this)" method="post">
	<table align="center" style="height:100%; width:100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td valign="middle">
				<table align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>用户名: </td>
						<td><input type="text" ></td>
					</tr>
					<tr >
						<td align="center"  colspan="2">
							<a href="index.html"><input type="button" value="进入"></a>
						</td>
					</tr>
				</table>
			</td>
		</tr>		
	</table>
	</form>
</body>
</html>